astrapy==1.5.2
datasets==3.2.0
# . -e 
Flask==3.1.0
huggingface-hub==0.26.5
langchain==0.3.10
langchain-astradb==0.5.2
langchain-community==0.3.10
langchain-core==0.3.23
langchain-groq==0.2.1
langchain-text-splitters==0.3.2
langsmith==0.1.147
numpy==1.26.4
pillow==11.0.0
pyarrow==18.1.0
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pypdf==5.1.0
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
scikit-learn==1.6.0
scipy==1.14.1
sentence-transformers==3.3.1
tokenizers==0.21.0
tqdm==4.67.1
transformers==4.47.0
typing-inspect==0.9.0
tzdata==2024.2
urllib3==2.2.3

