datasets==3.2.0
-e .
Flask==3.1.0
huggingface-hub==0.26.5
langchain==0.3.10
langchain-astradb==0.5.2
langchain-community==0.3.10
langchain-core==0.3.23
langchain-groq==0.2.1
langchain-text-splitters==0.3.2
numpy==1.26.4
pillow==11.0.0
pyarrow==18.1.0
pypdf==5.1.0
python-dotenv==1.0.1
regex==2024.11.6
pandas
# gunicorn



